{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage all the blog components of this site</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <h1>Add/Edit Post settings</h1>
        <a href="/dashboard"><button class="btn btn-primary">dashbaord home</button></a>
        <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/edit/{{sno}}" method="POST">
            <div class="form-floating">
                <input class="form-control" id="name" type="text" value="{{post.title}}" name="title" placeholder="Edit title..." data-sb-validations="required" />
                <label for="name">Title</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">A title is required.</div>
            </div>
            <div class="form-floating">
                <input class="form-control" id="name" type="text" name="tagline" value="{{post.tagline}}" placeholder="Edit tagline..." data-sb-validations="required" />
                <label for="name">Tagline</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">A tagline is required.</div>
            </div>
            <div class="form-floating">
                <input class="form-control" id="name" type="text" name="slug" value="{{post.slug}}" placeholder="Edit slug..." data-sb-validations="required" />
                <label for="name">Slug</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">A slug is required.</div>
            </div>
            <div class="form-floating">
                <input class="form-control" id="name" type="text" name="content" value="{{post.content}}" placeholder="Edit content..." data-sb-validations="required" />
                <label for="name">content</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">A content is required.</div>
            </div>
            <div class="form-floating">
                <input class="form-control" id="name" type="text" name="img_file" value="{{post.img_file}}" placeholder="Edit image..." data-sb-validations="required" />
                <label for="name">Image File</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">An image is required.</div>
            </div>
            <br />
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button-->
            <button class="btn btn-primary text-uppercase enabled" id="submitButton" type="submit">Submit</button>
        </form>

                    
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
{% endblock %}